@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100vh;
  font-family: "Open-Sans";
}

.custom-placeholder::placeholder {
  background: url("/public/images/search.svg") no-repeat;
  background-position: left center;
  padding-left: 20px; /* Adjust based on your image size */
}
